@import "src/theme/app.scss";

.title {
  transition: color 0.5s ease-in-out;
  font-size: 4rem;

  &--sad {
    color: $red-800;
  }

  &--neutral {
    color: $yellow-800;
  }

  &--happy {
    color: $blue-800;
  }

  &--very-happy {
    color: $green-800;
  }

  &--disabled{
    color: $grey-400;
  }
}