// ===========================
// WHITE
// ===========================
$white: #ffffff;
// ===========================
// BLACK
// ===========================
$black: #000;
// ===========================
// CRITIC
// ===========================
$red: #ffeceb;
$red-100: #ffe5e3;
$red-200: #ffc6c2;
$red-300: #ffa099;
$red-400: #ff7a70;
$red-500: #ff675c;
$red-600: #d15046;
$red-700: #ad382f;
$red-800: #92261f;


// ===========================
// DANGER
// ===========================
$orange: #f7ead8;
$orange-100: #fadcb9;
$orange-200: #ffcfa8;
$orange-300: #faaf72;
$orange-400: #ff8843;
$orange-500: #f8882d;
$orange-600: #db631d;
$orange-700: #92440f;
$orange-800: #722f08;
// ===========================
// WARNING
// ===========================
$yellow: #f7f1df;
$yellow-80: #ffebd0;
$yellow-100: #ffeac2;
$yellow-200: #ffdb99;
$yellow-300: #ffcd70;
$yellow-400: #ffce47;
$yellow-500: #f8d124;
$yellow-600: #cebb14;
$yellow-700: #978a0f;
$yellow-800: #886c0f;
// ===========================
// NORMAL
// ===========================
$blue: #cafcf8;
$blue-100: #d0f1ee;
$blue-200: #b0e8e3;
$blue-300: #90dfd8;
$blue-400: #71d6cd;
$blue-500: #3fc8bd;
$blue-600: #2ca09a;
$blue-700: #126e6a;
$blue-800: #095353;
// ===========================
// SUCCESS
// ===========================
$green: #ccfcca;
$green-100: #b2eeb0;
$green-200: #a5df8f;
$green-300: #71db7f;
$green-400: #4cd653;
$green-500: #469b4b;
$green-600: #1a7e26;
$green-700: #1d5a18;
$green-800: #0c4113;
// ===========================
// GREY
// ===========================
$grey: #e9e9e9;
$grey-100: #d6d6d6;
$grey-200: #bebebe;
$grey-300: #a8a8a8;
$grey-400: #949494;
$grey-500: #4e4e4e;
